*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(12, 12, 12);
 }

 .calculator{
    background-color: aqua;
    padding: 30px;
    border-radius: 5px;
    width: 300px;
    height: 400px;
 }

 input{
    width: 100%;
    padding: 6px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: right;
 }

 .calc-button{
    display: flex;
    justify-content: space-between;
 }

 .calc-button button{
    width: 200px;
    height: 60px;
    margin: 1px;
    border-radius: 5px;
 }